.layout {
  margin-top: 65px;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
    .layout {
        padding: 10px;
    }
}