/* INTRODUCTIOn */
.intro{
  padding-top: 60px;
  /* min-height: 800px; */
  height: fit-content;
  width: 100%;
  background-color: white;
}
.intro-section1{
  display: flex;
  flex-direction: row;
}
.intro-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.profile-img{
  border-radius: 100%;
  max-width: 65%;
  height: auto;
  padding: 10px;
}
.intro-txt{
  width: 50%;
  align-self: center;
}
.intro-txt h5{
  font-size: xx-large;
  font-weight: 700;
  margin: 0;
}
.intro-txt p{
  font-size: 20px;
}
.intro-section2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0 60px 0;
  justify-content: space-evenly;
}
.section2-item{
  display: flex;
  flex-direction: row;
  width: 140px;
  justify-content: center;
  text-align-last: center;
  margin-left: 3.5%;
  /* background-color: aqua; */
}
.section2-item h3{
  font-size: 60px;
}
.section2-item p{
  font-size: 20px;
  margin: 0;
  margin-top: 30px;
  line-height: 20px;
  /* word-spacing: 20px; */
}
.section2-item p b{
  /* background-color: #0070f3; */
  margin-left: 20px;
}

/* EXPERIENCE */
.experience{
  background-color: white;
  margin-top: 80px;
  padding: 60px;
  padding-bottom: 100px;
  /* min-height: 800px; */
  height: fit-content;
  align-items: center;
}
.experience h3{
  margin-bottom: 20px;
}
.exp-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0 50px 0;
  justify-content: space-around;
  background-color: rgb(199, 199, 199);
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 10px;
}
.exp-item{
  width: 25%;
  min-width: 200px;
  height: fit-content;
  /* background-color: #0070f3; */
  border-radius: 20px;
  margin-top: 10px;
}
.exp-img{
  width: 100%;
  height: auto;
  border-radius: 20px;
  /* object-fit: cover;
  height: 400px; */
}
.exp-item p{
  font-size: 23px;
  text-align: center;
  font-weight: 600;
  
}




@media (max-width: 600px) {
  .intro{
    height: fit-content;
  }
  .intro-section1{
    flex-direction: column;
  }
  .intro-img{
    width: 100%;
  }
  .profile-img{
    max-width: 60%;
  }
  .intro-txt{
    width: 80%;
    margin-top: 20px;
  }
  .intro-txt p{
    font-size: 20px;
  }
  .intro-section2{
    margin-top: 10px;
  }
  .section2-item{
    width: 150px;
  }
}